@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

:root {
    --deep-green: #1E3932;
    --charcoal: #2C2A29;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Nanum Gothic', sans-serif;
}

/* 헤더부분 */
.header {
    display: flex;
    justify-content: center;
    position: fixed;
    background: #F6F5EF;
    border-top: 2px solid black;
    width: 100vw;
    z-index: 100;
    height: 20vh;
}

.header .header-wrap a .logo {
    cursor: pointer;
    width: 75px;
    height: 75px;
    margin-left: 1rem;
}

.header .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
}

.header .nav-wrap {
    display: flex;
    flex-direction: column;
}

.sub-nav {
    font-size: 13px;
    display: flex;
    justify-content: center;
    height: 8vh;
}

.nav {
    font-size: 14px;
}

.sub-nav ul, .nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}


.sub-nav ul li a, .nav ul li a {
    padding: 1rem;
    text-decoration: none;
    color: black;
    white-space: nowrap;
}

.sub-nav ul {
    align-items: center;
}

.nav ul li a {
    padding-bottom: 1.9rem;
    margin: 0;
}

.sub-nav ul li {
    border-right: 1px solid wheat;
    margin: 0rem 0.5rem 0rem 0.5rem;
}

.sub-nav .search-wrap {
    border: 1px gray solid;
    border-radius: 5px;
    padding: 5px;
}

.sub-nav .search-wrap .search-input {
    width: 0px;
    height: 22px;
    left: 0;
    top: 5px;
    background: none;
    border: none;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.sub-nav .search-wrap #search-input.active {
    visibility: visible;
    padding: 0 10px;
    width: 123px;
}

.sub-nav ul li .search {
    cursor: pointer;
    height: 22px;
}

.sub-nav ul li:last-child, .sub-nav ul li:nth-last-child(2) {
    border-right: none;
    padding-right: 0;
}

.nav ul li {
    padding: 0 1rem 0rem 1rem;
}

.nav ul li:hover a {
    background: var(--charcoal);
    color: olive;
    z-index: 105;
    
}

.nav-dropdown {
    height: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 20vh;
    width: 100vw;
    font-size: 12px;
    background: var(--charcoal);
    color: gray;
    z-index: 100;
}

.nav-dropdown.active {
    visibility: visible;
    height: 70%;
}
.nav-dropdown.active .dropdown-bottom {
    visibility: visible;
    height: 17vh;
}

.nav-dropdown .dropdown-bottom {
    position: fixed;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--deep-green);
    width: 100vw;
    height: 0;
    bottom: 9.5%;
    z-index: 105;
    padding-left: 9.5rem;
    font-size: 12px;
    line-height: 2px;
}


.nav-dropdown.active .dropdown-bottom h3 {
    cursor: pointer;
}
.nav-dropdown.active .dropdown-bottom h3:hover {
    text-decoration: underline;
}
.nav-dropdown.active .dropdown-bottom span {
    color:olivedrab;
    margin-bottom: 0.75rem;
}


.dropdown-wrap {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 90vw;
    margin-top: 1.5rem;
}

.nav-dropdown ul{
    list-style-type: none;
    margin: 0rem 2.4rem;
}

.nav-dropdown ul li:first-child {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 1rem;
}

.nav-dropdown ul li {
    cursor: pointer;
    margin: 0.2rem 0rem 0rem;
}

.nav-dropdown ul li:hover {
    text-decoration: underline;
}

.hyundai-card {
    position: fixed;
    left: auto;
    right: 5%;
    top: 154px;
    cursor: pointer;
    z-index: 999;
}

.a-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('https://image.istarbucks.co.kr/upload/common/img/main/2021/2021_summer1_bg.jpg');
    background-repeat: no-repeat;
    background-position: -40px 140px;
    background: 99% cover;
}

.a-container .beverage-wrap .beverage {
    width:  25%;
    position: absolute;
    background: transparent;
    animation: visibilityAnim 1.5s forwards;
    opacity: 0;
}

.a-container .beverage-wrap {
    z-index: 1;
}

.a-container .beverage-wrap .beverage.bev1 {
    left: 40%;
    bottom: 4.5%;
    animation-delay: 1s;
}

.a-container .beverage-wrap .beverage.bev2 {
    left: 56%;
    bottom: 12%;
    width: 30%;
    animation-delay: 1.5s;
}

.a-container .beverage-wrap .beverage.bev3 {
    right: 4%;
    bottom: 3.5%;
    animation-delay: 2s;
}


/* 음료 이미지 가상요소 */
.a-container .beverage-wrap .beverage.bev1::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    top: -30%;
    left: 2.5%;
    background: url(./img/coldbrew.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.a-container .beverage-wrap .beverage.bev2::after {
    content: "";
    position: absolute;
    width: 190px;
    height: 150px;
    left: -5%;
    background: url(./img/dark-choco.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.a-container .beverage-wrap .beverage.bev3::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    top: -26%;
    left: 2.5%;
    background: url(./img/muscat-ade.png);
    background-size: contain;
    background-repeat: no-repeat;
}


.a-container .a-wrap {
    position: absolute;
    left: 14%;
    top: 26%;
    animation: visibilityAnim 1.5s forwards;
}

.a-container .a-button {
    position: absolute;
    left: 14.5%;
    bottom: 15%;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
    padding: 0.5rem 1.25rem;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    opacity: 0;
    animation: visibilityAnim 1.5s forwards;
    animation-delay: 2.5s;
}

.a-container .a-button:hover {
    background: rgba(255, 255, 255, 0.7);
}

.a-bottom {
    width: 100%;
    display: flex;
    height: 10vh;
}

.a-bottom .side-left, .side-right {
    display: flex;
    align-items: center;
}

.a-bottom .side-left {
    width: 55%;
    box-shadow: 1px 0px 1px gray;
}

.a-bottom .side-right {
    width: 45%;
}


.a-bottom .side-left {
    justify-content: space-around;
    background-color: black;
    color: #fff;
}

.a-bottom .notice-main {
    position: relative;
    left: -5rem;
    cursor: pointer;
}

.a-bottom .notice-main:hover {
    text-decoration: underline;
}

.a-bottom .side-left button {
    border:none;
    background-color: transparent;
}

.a-bottom .side-left button a {
    color: #fff;
    font-size: 40px;
    padding: 0px 10px;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 50%;
}

.a-bottom .side-right {
    justify-content: center;
}
.a-bottom .side-right .wrap, .a-bottom .side-right button {
    cursor: pointer;
}

.a-bottom .side-right button {
    border: none;
    background-color: transparent;
    font-size: 20px;
    padding: 0px 5px;
    border: 2px solid black;
    border-radius: 50%;
    margin-left: 5rem;
}

.rewards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background:var(--deep-green);
    color: white;
    height: 40vh;
}

.rewards img {
    background-color: transparent;
    margin-right: 2rem;
    height: 50%;
}

.rewards .rewards-info {
    display: flex;
    flex-direction: column;
    width: 55vw;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(151, 150, 150, 0.5);
}

.rewards .rewards-info .info-wrap {
    display: flex;
    justify-content:center;
    
}

.rewards .rewards-info .info-title {
    font-size: 26px;
    margin: 0;
}
.rewards .rewards-info .info-wrap p {
    flex: 1;    
    width: 100%;
    font-size: 18px;
}

.rewards .rewards-info .button-wrap {
    display: flex;
    align-items: center;
}

.rewards .rewards-info .button-wrap button {
    border: none;
    margin: 0.5rem;
    cursor: pointer;
    color: #fff;
}

.rewards .rewards-info .button-wrap .signUp {
    background-color: green;
    border-radius: 5px;
    height: 2.5rem;
    width: 6rem;
}
.rewards .rewards-info .button-wrap .signIn {
    background-color: transparent;
    border: 1px #fff solid;
    height: 2.5rem;
    width: 6rem;
    border-radius: 5px;
}

.rewards .rewards-info .button-wrap .signIn:hover,
 .rewards .rewards-info .button-wrap .signUp:hover,
 .rewards .e-info button:hover {
    text-decoration: underline;
}


.rewards .e-info {
    display: flex;
    align-items: center;
}

.rewards .e-info p {
    flex: 1;
    font-size: 14px;
    line-height: 1.5rem;
    margin: 0;
}

.rewards .e-info button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: 1px #fff solid;
    height: 2.5rem;
    width: 10rem;
    border-radius: 5px;
}

.b-container {
    
    height: 150vh;
    display: flex;
    flex-direction: column;
}

.indonesia-bean {
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://image.istarbucks.co.kr/upload/common/img/main/2021/2021_summer1_bean_bg.jpg);
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.west-java {
    max-width: 386px;
    height: 77%;
}

.west-java-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.west-java-info p {
    font-size: 18px;
    color:rgba(0, 0, 0, 0.7);
}

.west-java-info .info {
    color: #502C0B;
    font-size: 20px;
}

.west-java-info .info.bold {
    font-size: 30px;
}

.west-java-button {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
    padding: 0.5rem 1.25rem;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.west-java-button:hover {
    background-color: black;
    color: #fff;
    text-decoration: underline;
}

.brazil-bean {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url('./img/brazil-bean.png');
    background-color: #E8C6A0;
    height: 70vh;
}

.brazil-bean-wrap {
    display: flex;
    flex-direction: column;
    align-items:center;
    position: relative;
    left: -20%;
    bottom: -30%;
}

.brazil-bean-button {
    position: relative;
    color: #815A32;
    border: 1px solid #815A32;
    border-radius: 5px;
    font-size: 14px;
    padding: 0.5rem 1.25rem;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.brazil-bean-button:hover {
    background-color: #815A32;
    color: #fff;
    text-decoration: underline;
}

.c-container {
    background: url(./img/fav-bg.jpg) center center fixed no-repeat #45434c;
    height: 800px;
    padding: 0;
    position: relative;
    background-size: auto 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-container .left-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-end;
    top: -10%;
}

.c-container .left-wrap img {
    margin-bottom: 3rem;
}

.c-container .left-wrap .c-button {
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 14px;
    padding: 0.5rem 1.25rem;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.c-container .left-wrap .c-button:hover {
    background: rgba(255, 255, 255, 0.8);
    color: var(--charcoal);
    text-decoration: underline;
}


.c-container .right-wrap {
    position: relative;
    right: -10%;
    top: -10%;
}

.d-container {
    position: relative;
    max-width: 1240px;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 90px;
    display: flex;
}

.d-container .left-wrap {
    position: relative;
    width: 38.5%;
    padding-left: 3.5%;
    background-color: transparent;
}

.d-container .right-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 9%;
}

.d-container .right-wrap img:first-child {
    margin-top: 6rem;
}
.d-container .right-wrap img:last-child {
    width: 46%;
    margin-bottom: 3rem;
}

.d-container::before {
    content: "";
    position: absolute;
    top: 61.8%;
    left: 9.5%;
    width: 95.3%;
    height: 1px;
    background-color: #cccccb;
}
.d-container::after {
    content: "";
    position: absolute;
    left: 44%;
    top: 136px;
    width: 1px;
    height: 64%;
    background-color: #cccccb;
}

@keyframes visibilityAnim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}